.inputtikbosch {
  padding-top: 300px;
  background: #f0f1f3;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;

  h1 {
    font-weight: 550;
    font-size: 36px;
    color: rgba(78, 78, 78, 1);
  }

  input {
    box-shadow: 7px 7px 16px 0px rgba(99, 99, 99, 0.3) inset;
    border: 1px solid rgb(235, 235, 235);
    outline: none;
    padding: 10px 20px;
    width: 100%;
    max-width: 377px;
    height: 59px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .simvol {
    width: 100%;
    max-width: 788px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 0 20px;

    input {
      width: 100%;
      max-width: 100%;
      height: 230px;
      background: #EBEBEB;
      border: 1px solid #FFFFFF;
      box-shadow: inset -6px -6px 16px rgba(255, 255, 255, 0.9),
        inset 7px 7px 16px rgba(99, 99, 99, 0.3);

      border-radius: 20px;
      padding-bottom: 170px;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0%;
      box-sizing: border-box;
    }

    span {
      margin: 0 10px 3px 0;
      font-weight: 400;
      font-size: 14px;
      color: #7A7A7A;
    }
  }

  .inps {
    width: 100%;
    max-width: 792px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    .inps-left,
    .inps-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;

      input {
        height: 47px;
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .points {
    width: 100%;
    max-width: 792px;
    display: flex;
    align-items: center;

    .pointone {
      width: 100%;
      max-width: 385px;
      text-align: center;

      .scores {
        display: flex;
        justify-content: center;

        .span {
          margin: 20px 10px;
          position: relative;
          width: 50px;
          font-size: 32px;
          padding: 6px 0 0;
          height: 50px;
          border-radius: 100px;
          border: 1px solid rgb(208, 208, 208);
          box-sizing: border-box;
        }

        .span:hover {
          transform: scale(1.1);
          transition: transform 0.2s ease;
        }
      }
    }

    .pointwobosch {
      width: 324px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      #btnsecondbosch {
        width: 100px;
        height: 50px;
        border: 1px solid black;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .inputtikbosch {
    margin-top: 300px;

    .points {
      flex-direction: column !important;
    }
  }
}

@media (max-width: 500px) {
  .inputtikbosch {
    margin-top: 300px;
    .inps {
      flex-direction: column;
    }

    .points {
      .pointone {
        .scores {
          .span {
            width: 100% !important;
            padding-top: 12px;
            max-width: 50px;
            font-size: 22px;

          }
        }
      }
    }
    .pointwobosch{
      height: 300px !important;
      flex-direction: column;
      #btnsecondbosch{
        width: 150px !important;
      }
    }
  }
}